.header {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-m);
}

@media only screen and (min-width: 360px) {
  .header {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
  }
}

@media only screen and (min-width: 600px) {
  .header {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }
}

.header h1 {
  margin-bottom: var(--space-m);
}

.header p + p {
  margin-top: var(--space-xl);
}

@media only screen and (min-width: 600px) {
  .header p + p {
    margin-top: var(--space-2xl);
  }
}

.header > div {
  padding-bottom: var(--space-3xl);
}

@media only screen and (min-width: 600px) {
  .header > div {
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-4xl);
  }
}

@media only screen and (min-width: 1200px) {
  .header > div {
    padding-top: var(--space-4xl);
    padding-bottom: var(--space-5xl);
  }
}
