.header {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-l);
}

@media only screen and (min-width: 600px) {
  .header {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }
}

.header h1 {
  margin-bottom: var(--space-m);
}

.header > div {
  padding-bottom: calc(var(--page-gutter) * 2);
}

@media only screen and (min-width: 600px) {
  .header > div {
    padding-top: calc(var(--page-gutter) * 1.2);
    padding-bottom: calc(var(--page-gutter) * 1.5);
  }
}

@media only screen and (min-width: 900px) {
  .header > div {
    padding-top: calc(var(--page-gutter) / 1.2);
    padding-bottom: calc(var(--page-gutter) * 1.2);
  }
}

@media only screen and (min-width: 1200px) {
  .header > div {
    padding-top: var(--page-gutter);
  }
}
