.twoColumnLayout {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--space-xs);
}

@media only screen and (min-width: 1200px) {
  .twoColumnLayout {
    grid-template-columns: var(--space-4xl) auto;
    gap: var(--space-l);
  }
}

.twoColumnLayout + .twoColumnLayout {
  margin-top: var(--space-l);
}

@media only screen and (min-width: 1200px) {
  .twoColumnLayout + .twoColumnLayout {
    margin-top: var(--space-2xl);
  }
}

.TwoColumnLayoutTitle {
  font-size: var(--font-size-s);
  line-height: var(--line-height-xs);
}

.TwoColumnLayoutTitle i {
  vertical-align: baseline;
}

.TwoColumnLayoutSubtitle {
  font-family: var(--font-secondary);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  color: var(--color-grey);
}

.TwoColumnLayoutSticky {
  position: relative;
}

.TwoColumnLayoutSticky > * {
  position: sticky;
  top: var(--space-m);
}
