.footerInner {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

.footerList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footerList li + li {
  margin-top: var(--space-s);
}

.footerDate {
  font-family: var(--font-secondary);
  margin-top: var(--space-xl);
}
