.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--space-l);
  height: var(--space-l);
  margin-right: var(--space-l);
  margin-bottom: var(--space-xl);
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-heavy);
  user-select: none;
}
