@import './reset.css';

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/inter-var-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --color-white: white;
  --color-grey: grey;
  --color-black: black;
  --color-electric: greenyellow;

  --space-base: 1rem;
  --space-xs: calc(var(--space-base) * 0.5);
  --space-s: calc(var(--space-base) * 1);
  --space-m: calc(var(--space-base) * 2.5);
  --space-l: calc(var(--space-base) * 5);
  --space-xl: calc(var(--space-base) * 8);

  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --font-size-xs: 0.8rem;
  --font-size-s: 1rem;
  --font-size-m: 1.2rem;
  --font-size-l: 1.5rem;
  --line-height-xs: 1.5rem;
  --line-height-s: 1.813rem;
  --line-height-m: 2.063rem;
  --line-height-l: 2.5rem;

  --page-gutter: var(--space-m);
  --content-max-width: 40rem;

  --transition: 0.2s ease;
}

@media only screen and (min-width: 800px) {
  :root {
    --page-gutter: var(--space-l);
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --page-gutter: var(--space-xl);
  }
}

::selection {
  background-color: var(--color-electric);
  color: var(--color-black);
}

* {
  font-family: var(--font-family);
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: 500;
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}

@media only screen and (min-width: 800px) {
  body {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
  }
}

a {
  color: inherit;
  text-decoration: underline;
  transition: var(--transition);
}

p {
  max-width: 50ch;
}

p + p {
  margin-top: var(--space-m);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: 700;
}

ul {
  padding-left: calc(var(--space-s) + 3px);
  list-style: square;
}

ul li + li {
  margin-top: var(--space-xs);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
