.icon {
  display: inline-block;
  width: 1.2em;
  vertical-align: middle;
}

.icon svg {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  height: auto;
  fill: currentColor;
  transition: fill var(--transition);
}

.icon svg * {
  fill: currentColor;
  transition: fill var(--transition);
}
